<div class="valorant">
    <div @playerForm class="valorant__player-id" *ngIf="!currentPlayer">
        <mat-form-field appearance="fill" class="valorant__player-id__formfield">
            <mat-label class="valorant__player-id__formfield__label">Player's nickname</mat-label>
            <input [formControl]="playerNickname" matInput class="valorant__player-id__formfield__input__nickname"
                required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Player's language</mat-label>
            <mat-select [formControl]="playerLanguageId" required>
                <mat-option>None</mat-option>
                <mat-option *ngFor="let languageId of languages" value="{{languageId}}">{{languageId | uppercase}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Player's rank</mat-label>
            <mat-select [formControl]="playerRankId">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let rank of ranks" value="{{rank.id}}">{{rank.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Player's Character(s)</mat-label>
            <mat-select [formControl]="playerCharacterId">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let character of characters" value="{{character.id}}">{{character.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-button class="valorant__player-id__submit" [disabled]="playerLanguageId.invalid || playerNickname.invalid" (click)="addPlayer()">Submit</button>

    </div>
    <div class="valorant__players-list">
        <app-player-list [game]="'valorant'" [players]="players" (onPlayerClick)="onPlayerClick($event)"></app-player-list>
    </div>
    <div class="valorant__chats">
        <app-chat *ngFor="let contactPlayer of contactPlayers" [contactPlayer]="contactPlayer"></app-chat>
    </div>
</div>