.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #3d477c;
    color: white;
    font-weight: 600;

    .menus {
        .logo-container {
            display: flex;
            align-items: center;

            .logo {
                margin: 0 16px;
            }
        }

        margin: 0 1rem;
    }

    .online-players {
        margin: 0 16px;
    }
}

.body {
    &--csgo {
        background-image: url("../assets/images/backgroundcsgo.png");
    }

    &--valorant {
        background-image: url("../assets/images/backgroundvalorant.jpg");
    }

    &--leagueoflegends {
        background-image: url("../assets/images/backgroundleagueoflegends.jpg");
    }
}